unity/unity.CSharp.csproj
unity/unity.CSharp.Editor.csproj
unity/unity.CSharp.Plugins.csproj
unity/unity.sln
unity/Library/
unity/Temp/
unity/.vs/
unity/StyleCop.Cache
unity/Assets/Local.meta
unity/Assets/Local/
unity/ios/
unity/android.apk
unity/Assembly-CSharp-Editor.csproj
unity/Assembly-CSharp-firstpass.csproj
unity/Assembly-CSharp.csproj
unity/.vscode/
unity/unity.userprefs
unity/Assets/StyleCop.Cache
unity/Assets/StyleCop.Cache.meta
unity/Assets/StreamingAssets/AssetBundles/
unity/unity.Editor.csproj
unity/unity.csproj
unity/unity.Plugins.csproj
unity/WebGL/
unity/obj/


unity/unity.CSharp.Editor.Plugins.csproj
unity/unity.Editor.Plugins.csproj
unity/Assembly-CSharp-Editor-firstpass.csproj

*~$*.xlsx